*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding: 1em;
  background: lightblue;
  position: relative;
  min-height: 100vh;
}

.card {
  margin: .2em;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  position: relative;
}

.loading {
  display: inline-block;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0 2em 0 lightcoral, 0 -2em 0 lightseagreen;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}